<a href="https://colab.research.google.com/github/kloud9nyc/data-wrangling/blob/master/DataWraingling_RetailData_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np

In [0]:
data = pd.read_csv("/content/drive/My Drive/DataWrangling/onlineretail/OnlineRetail.csv",encoding = "ISO-8859-1")

In [4]:
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [0]:
NullData =data.CustomerID.isnull()

In [13]:
data[NullData]

       InvoiceNo StockCode  ... CustomerID         Country
622       536414     22139  ...        NaN  United Kingdom
1443      536544     21773  ...        NaN  United Kingdom
1444      536544     21774  ...        NaN  United Kingdom
1445      536544     21786  ...        NaN  United Kingdom
1446      536544     21787  ...        NaN  United Kingdom
...          ...       ...  ...        ...             ...
541536    581498    85099B  ...        NaN  United Kingdom
541537    581498    85099C  ...        NaN  United Kingdom
541538    581498     85150  ...        NaN  United Kingdom
541539    581498     85174  ...        NaN  United Kingdom
541540    581498       DOT  ...        NaN  United Kingdom

[135080 rows x 8 columns]

In [0]:
l = data.replace(np.nan,0)

In [10]:
data.iloc[541536]

InvoiceNo                       581498
StockCode                       85099B
Description    JUMBO BAG RED RETROSPOT
Quantity                             5
InvoiceDate            12/9/2011 10:26
UnitPrice                         4.13
CustomerID                         NaN
Country                 United Kingdom
Name: 541536, dtype: object

In [15]:
l

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [20]:
l.iloc[541540]

InvoiceNo               581498
StockCode                  DOT
Description     DOTCOM POSTAGE
Quantity                     1
InvoiceDate    12/9/2011 10:26
UnitPrice              1714.17
CustomerID                   0
Country         United Kingdom
Name: 541540, dtype: object

In [0]:
l.to_csv("/content/drive/My Drive/DataWrangling/onlineretail/result.csv")

In [0]:
data["extraColumn"]="I am Extra"

In [24]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'extraColumn'],
      dtype='object')

In [25]:
data

       InvoiceNo StockCode  ...         Country  extraColumn
0         536365    85123A  ...  United Kingdom   I am Extra
1         536365     71053  ...  United Kingdom   I am Extra
2         536365    84406B  ...  United Kingdom   I am Extra
3         536365    84029G  ...  United Kingdom   I am Extra
4         536365    84029E  ...  United Kingdom   I am Extra
...          ...       ...  ...             ...          ...
541904    581587     22613  ...          France   I am Extra
541905    581587     22899  ...          France   I am Extra
541906    581587     23254  ...          France   I am Extra
541907    581587     23255  ...          France   I am Extra
541908    581587     22138  ...          France   I am Extra

[541909 rows x 9 columns]

In [26]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
extraColumn         0
dtype: int64

In [27]:
data.isnull().sum().sum()

136534

In [31]:
data.count()

InvoiceNo      541909
StockCode      541909
Description    540455
Quantity       541909
InvoiceDate    541909
UnitPrice      541909
CustomerID     406829
Country        541909
extraColumn    541909
dtype: int64

In [0]:
m = data

In [0]:
missing_df = m.dropna()

In [43]:
missing_df.count()

InvoiceNo      406829
StockCode      406829
Description    406829
Quantity       406829
InvoiceDate    406829
UnitPrice      406829
CustomerID     406829
Country        406829
extraColumn    406829
dtype: int64

In [44]:
data.fillna('Test')

       InvoiceNo StockCode  ...         Country  extraColumn
0         536365    85123A  ...  United Kingdom   I am Extra
1         536365     71053  ...  United Kingdom   I am Extra
2         536365    84406B  ...  United Kingdom   I am Extra
3         536365    84029G  ...  United Kingdom   I am Extra
4         536365    84029E  ...  United Kingdom   I am Extra
...          ...       ...  ...             ...          ...
541904    581587     22613  ...          France   I am Extra
541905    581587     22899  ...          France   I am Extra
541906    581587     23254  ...          France   I am Extra
541907    581587     23255  ...          France   I am Extra
541908    581587     22138  ...          France   I am Extra

[541909 rows x 9 columns]

In [0]:
data["Quantity"].fillna(data["Quantity"].mean(), inplace=True)

In [47]:
data.duplicated().sum()

5268

In [0]:
DuplicatedData = data.duplicated()

In [53]:
data.loc[DuplicatedData]

       InvoiceNo StockCode  ...         Country  extraColumn
517       536409     21866  ...  United Kingdom   I am Extra
527       536409     22866  ...  United Kingdom   I am Extra
537       536409     22900  ...  United Kingdom   I am Extra
539       536409     22111  ...  United Kingdom   I am Extra
555       536412     22327  ...  United Kingdom   I am Extra
...          ...       ...  ...             ...          ...
541675    581538     22068  ...  United Kingdom   I am Extra
541689    581538     23318  ...  United Kingdom   I am Extra
541692    581538     22992  ...  United Kingdom   I am Extra
541699    581538     22694  ...  United Kingdom   I am Extra
541701    581538     23343  ...  United Kingdom   I am Extra

[5268 rows x 9 columns]

In [50]:
data.shape

(541909, 9)

In [51]:
data.drop_duplicates()

       InvoiceNo StockCode  ...         Country  extraColumn
0         536365    85123A  ...  United Kingdom   I am Extra
1         536365     71053  ...  United Kingdom   I am Extra
2         536365    84406B  ...  United Kingdom   I am Extra
3         536365    84029G  ...  United Kingdom   I am Extra
4         536365    84029E  ...  United Kingdom   I am Extra
...          ...       ...  ...             ...          ...
541904    581587     22613  ...          France   I am Extra
541905    581587     22899  ...          France   I am Extra
541906    581587     23254  ...          France   I am Extra
541907    581587     23255  ...          France   I am Extra
541908    581587     22138  ...          France   I am Extra

[536641 rows x 9 columns]

In [52]:
data.shape

(541909, 9)

In [55]:
data.loc[data.duplicated(keep='first'), :].count()

InvoiceNo      5268
StockCode      5268
Description    5268
Quantity       5268
InvoiceDate    5268
UnitPrice      5268
CustomerID     5225
Country        5268
extraColumn    5268
dtype: int64