<a href="https://colab.research.google.com/github/kloud9nyc/data-wrangling/blob/master/DataWraingling_RetailData_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("/content/drive/My Drive/DataWrangling/onlineretail/OnlineRetail.csv",encoding = "ISO-8859-1")

In [7]:
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [0]:
a = data.loc[0]

In [14]:
type(a)

pandas.core.series.Series

In [0]:
s = pd.Series([536370,'85123A','WHITE HANGING HEART T-LIGHT HOLDER',6,'12/1/2010 8:26',2.55,17850.0,'United Kingdom'], index=['InvoiceNo','StockCode','Description','Quantity','InvoiceDate','UnitPrice','CustomerID','Country'])

In [11]:
s

InvoiceNo                                  536370
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                        12/1/2010 8:26
UnitPrice                                    2.55
CustomerID                                  17850
Country                            United Kingdom
dtype: object

In [15]:
type(s)

pandas.core.series.Series

In [0]:
invoiceDF = pd.DataFrame(data=
                         {'InvoiceNo' : [536365,536365,536365], 
                          'StockCode' : ['85123A','71053','84406B'],
                          'Quantity' : [6,10,20]},
                         index=['Row1','Row2','Row3'],
                         columns= ['InvoiceNo','StockCode','Quantity'])

In [18]:
invoiceDF

      InvoiceNo StockCode  Quantity
Row1     536365    85123A         6
Row2     536365     71053        10
Row3     536365    84406B        20

In [20]:
invoiceDF.loc['Row1']

InvoiceNo    536365
StockCode    85123A
Quantity          6
Name: Row1, dtype: object

In [21]:
invoiceDF.iloc[0]

InvoiceNo    536365
StockCode    85123A
Quantity          6
Name: Row1, dtype: object

In [22]:
invoiceDF.index

Index(['Row1', 'Row2', 'Row3'], dtype='object')

In [24]:
invoiceDF.values

array([[536365, '85123A', 6],
       [536365, '71053', 10],
       [536365, '84406B', 20]], dtype=object)

In [0]:
row1 = invoiceDF.loc['Row1']

In [26]:
row1.index

Index(['InvoiceNo', 'StockCode', 'Quantity'], dtype='object')

In [28]:
row1.values

array([536365, '85123A', 6], dtype=object)

In [33]:
row1.keys()

Index(['InvoiceNo', 'StockCode', 'Quantity'], dtype='object')