<a href="https://colab.research.google.com/github/kloud9nyc/data-wrangling/blob/master/DataWraingling_RetailData_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Mount Your Google Drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

**Load Libaries**

In [0]:
import pandas as pd

Load Data Wrangling foler from Google Drive

In [0]:
data = pd.read_csv("/content/drive/My Drive/DataWrangling/onlineretail/OnlineRetail.csv",encoding = "ISO-8859-1")

**Show Invoices Group by Country and Avg Quantity Purchased**

In [16]:
data.groupby(['Country'])['Quantity'].mean()

Country
Australia               66.444003
Austria                 12.037406
Bahrain                 13.684211
Belgium                 11.189947
Brazil                  11.125000
Canada                  18.298013
Channel Islands         12.505277
Cyprus                  10.155949
Czech Republic          19.733333
Denmark                 21.048843
EIRE                    17.403245
European Community       8.147541
Finland                 15.346763
France                  12.911067
Germany                 12.369458
Greece                  10.657534
Hong Kong               16.559028
Iceland                 13.505495
Israel                  14.656566
Italy                    9.961395
Japan                   70.441341
Lebanon                  8.577778
Lithuania               18.628571
Malta                    7.433071
Netherlands             84.406580
Norway                  17.722836
Poland                  10.712610
Portugal                10.651745
RSA                      6.068966
Saudi Arabia             7.500000
Singapore               22.855895
Spain                   10.589814
Sweden                  77.136364
Switzerland             15.147353
USA                      3.553265
United Arab Emirates    14.441176
United Kingdom           8.605486
Unspecified              7.399103
Name: Quantity, dtype: float64

**Show Invoices Group by Country and Stock Code and Avg Quantity Purchased**

Like that,

***You can use All Aggregate functions like Min, Max, Sum***

In [28]:
data.groupby(['Country','StockCode'])['Quantity'].mean()

Country      StockCode
Australia    15036        600.000000
             15056BL        3.000000
             16161P       400.000000
             16169E        25.000000
             20665          6.000000
                             ...
Unspecified  85180A         2.000000
             85180B         1.000000
             85212         12.000000
             85213         12.000000
             85227          3.333333
Name: Quantity, Length: 19839, dtype: float64

**Using Multiple Conditions**

Show Invoice having the quantity between 1000 to 2500 belongs to UK

In [33]:
data[(data.Quantity >= 1000) & (data.Quantity <= 2500) & (data.Country == 'United Kingdom')]

       InvoiceNo StockCode  ... CustomerID         Country
4850      536809     84950  ...    15299.0  United Kingdom
4946      536830     21915  ...    16754.0  United Kingdom
16435     537659     22189  ...    18102.0  United Kingdom
16436     537659     22188  ...    18102.0  United Kingdom
19149     537841     16014  ...    13848.0  United Kingdom
...          ...       ...  ...        ...             ...
520003    580243     21915  ...    16333.0  United Kingdom
521375    580363     23582  ...    13868.0  United Kingdom
533812    581115     22413  ...    15195.0  United Kingdom
540070    581458     22197  ...    17949.0  United Kingdom
540071    581459     22197  ...    17949.0  United Kingdom

[101 rows x 8 columns]