<a href="https://colab.research.google.com/github/kloud9nyc/data-wrangling/blob/master/DataWraingling_RetailData_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Mount Your Google Drive**

In [0]:
from google.colab import drive
drive.mount('/content/drive')

**Load Libaries**

In [0]:
import pandas as pd

**Load Data Wrangling foler from Google Drive**

In [0]:
data = pd.read_csv("/content/drive/My Drive/DataWrangling/onlineretail/OnlineRetail.csv",encoding = "ISO-8859-1")

**View a particuar row using location loc**

In [5]:
data.loc[5]

InvoiceNo                            536365
StockCode                             22752
Description    SET 7 BABUSHKA NESTING BOXES
Quantity                                  2
InvoiceDate                  12/1/2010 8:26
UnitPrice                              7.65
CustomerID                            17850
Country                      United Kingdom
Name: 5, dtype: object

**View Number of rows using loc with array of row position**

In [9]:
data.loc[[1,3,8,1498]]

     InvoiceNo StockCode  ... CustomerID         Country
1       536365     71053  ...    17850.0  United Kingdom
3       536365    84029G  ...    17850.0  United Kingdom
8       536366     22632  ...    17850.0  United Kingdom
1498    536544     22080  ...        NaN  United Kingdom

[4 rows x 8 columns]

**Locate Last Row from the Dataframe using tail**

In [8]:
data.tail(n=1)

       InvoiceNo StockCode  ... CustomerID  Country
541908    581587     22138  ...    12680.0   France

[1 rows x 8 columns]

**Locate Last 5 Rows from the Dataframe using tail**

In [7]:
data.tail(n=5)

       InvoiceNo StockCode  ... CustomerID  Country
541904    581587     22613  ...    12680.0   France
541905    581587     22899  ...    12680.0   France
541906    581587     23254  ...    12680.0   France
541907    581587     23255  ...    12680.0   France
541908    581587     22138  ...    12680.0   France

[5 rows x 8 columns]

**Locate the Rows using iloc**

In [10]:
data.iloc[5]

InvoiceNo                            536365
StockCode                             22752
Description    SET 7 BABUSHKA NESTING BOXES
Quantity                                  2
InvoiceDate                  12/1/2010 8:26
UnitPrice                              7.65
CustomerID                            17850
Country                      United Kingdom
Name: 5, dtype: object

In [11]:
data.iloc[[1,3,8,1498]]

     InvoiceNo StockCode  ... CustomerID         Country
1       536365     71053  ...    17850.0  United Kingdom
3       536365    84029G  ...    17850.0  United Kingdom
8       536366     22632  ...    17850.0  United Kingdom
1498    536544     22080  ...        NaN  United Kingdom

[4 rows x 8 columns]

**Diffrence between Loc vs ILoc**


The loc indexer can also do boolean selection.

*   loc gets rows (or columns) with particular labels from the index.
*   iloc gets rows (or columns) at particular positions in the index (so it only takes integers).

***Want to Indentify the Invoice more than Quanity of 6 using Loc***

In [16]:
data.loc[data['Quantity'] > 6, ['InvoiceNo', 'StockCode','UnitPrice']]

       InvoiceNo StockCode  UnitPrice
2         536365    84406B       2.75
9         536367     84879       1.69
12        536367     22749       3.75
26        536370     22728       3.75
27        536370     22727       3.75
...          ...       ...        ...
541895    581587     22556       1.65
541896    581587     22555       1.65
541901    581587     22367       1.95
541902    581587     22629       1.95
541904    581587     22613       0.85

[172999 rows x 3 columns]

***Same if Want to Indentify the Invoice more than Quanity of 6 using ILoc, See the error output***

In [23]:
data.iloc[data['Quantity'] > 6, ['InvoiceNo', 'StockCode','UnitPrice']]

NotImplementedError: ignored

In [24]:
data.iloc[(data['Quantity'] > 6).values, [0, 1,5]]

       InvoiceNo StockCode  UnitPrice
2         536365    84406B       2.75
9         536367     84879       1.69
12        536367     22749       3.75
26        536370     22728       3.75
27        536370     22727       3.75
...          ...       ...        ...
541895    581587     22556       1.65
541896    581587     22555       1.65
541901    581587     22367       1.95
541902    581587     22629       1.95
541904    581587     22613       0.85

[172999 rows x 3 columns]

**Mixed Way**

In [30]:
data.loc[data['UnitPrice'].astype(float) < 0.85].iloc[:,:-1]

       InvoiceNo StockCode  ... UnitPrice  CustomerID
30        536370     21883  ...      0.65     12583.0
42        536370     22540  ...      0.42     12583.0
43        536370     22544  ...      0.42     12583.0
44        536370     22492  ...      0.65     12583.0
96        536378     21212  ...      0.42     14688.0
...          ...       ...  ...       ...         ...
541869    581585     22481  ...      0.39     15804.0
541870    581585     22915  ...      0.19     15804.0
541882    581585     21916  ...      0.42     15804.0
541883    581585     84692  ...      0.42     15804.0
541886    581585     22398  ...      0.39     15804.0

[84629 rows x 7 columns]

**Or Simple way.. Remove Loc**

In [32]:
data[data['UnitPrice'].astype(float) < 0.85].iloc[:,:-1]

       InvoiceNo StockCode  ... UnitPrice  CustomerID
30        536370     21883  ...      0.65     12583.0
42        536370     22540  ...      0.42     12583.0
43        536370     22544  ...      0.42     12583.0
44        536370     22492  ...      0.65     12583.0
96        536378     21212  ...      0.42     14688.0
...          ...       ...  ...       ...         ...
541869    581585     22481  ...      0.39     15804.0
541870    581585     22915  ...      0.19     15804.0
541882    581585     21916  ...      0.42     15804.0
541883    581585     84692  ...      0.42     15804.0
541886    581585     22398  ...      0.39     15804.0

[84629 rows x 7 columns]

In [41]:
data.loc[[0,1,5,10],['InvoiceNo','StockCode','InvoiceDate']]

   InvoiceNo StockCode     InvoiceDate
0     536365    85123A  12/1/2010 8:26
1     536365     71053  12/1/2010 8:26
5     536365     22752  12/1/2010 8:26
10    536367     22745  12/1/2010 8:34

**Another Way to understand Loc and iLoc**

In [42]:
data.iloc[[0,1,5,10],[0,1,4]]

   InvoiceNo StockCode     InvoiceDate
0     536365    85123A  12/1/2010 8:26
1     536365     71053  12/1/2010 8:26
5     536365     22752  12/1/2010 8:26
10    536367     22745  12/1/2010 8:34

**First 3 Rows**

In [43]:
data[:3]

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom

[3 rows x 8 columns]

**Show 0 and 10th Row, But All Columns**

In [45]:
data.loc[[0, 1000], :]

     InvoiceNo StockCode  ... CustomerID         Country
0       536365    85123A  ...    17850.0  United Kingdom
1000    536520     21123  ...    14729.0  United Kingdom

[2 rows x 8 columns]

**Show the Invoice for the Particular Date**

In [48]:
data[data.InvoiceDate == '12/1/2010 8:26']

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom
5    536365     22752  ...    17850.0  United Kingdom
6    536365     21730  ...    17850.0  United Kingdom

[7 rows x 8 columns]

**Show all the Invoices not belongs to United Kingdom**

In [54]:
data[data.Country != 'United Kingdom']

       InvoiceNo StockCode  ... CustomerID  Country
26        536370     22728  ...    12583.0   France
27        536370     22727  ...    12583.0   France
28        536370     22726  ...    12583.0   France
29        536370     21724  ...    12583.0   France
30        536370     21883  ...    12583.0   France
...          ...       ...  ...        ...      ...
541904    581587     22613  ...    12680.0   France
541905    581587     22899  ...    12680.0   France
541906    581587     23254  ...    12680.0   France
541907    581587     23255  ...    12680.0   France
541908    581587     22138  ...    12680.0   France

[46431 rows x 8 columns]