<a href="https://colab.research.google.com/github/kloud9nyc/data-wrangling/blob/master/DataWraingling_RetailData_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("/content/drive/My Drive/DataWrangling/onlineretail/OnlineRetail.csv",encoding = "ISO-8859-1")

In [4]:
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [0]:
def Salesprice(Quantity,Unitprice):
  return Quantity*Unitprice

In [0]:
data['SalesPrice'] = Salesprice(data.Quantity,data.UnitPrice)

In [7]:
data

       InvoiceNo StockCode  ...         Country  SalesPrice
0         536365    85123A  ...  United Kingdom       15.30
1         536365     71053  ...  United Kingdom       20.34
2         536365    84406B  ...  United Kingdom       22.00
3         536365    84029G  ...  United Kingdom       20.34
4         536365    84029E  ...  United Kingdom       20.34
...          ...       ...  ...             ...         ...
541904    581587     22613  ...          France       10.20
541905    581587     22899  ...          France       12.60
541906    581587     23254  ...          France       16.60
541907    581587     23255  ...          France       16.60
541908    581587     22138  ...          France       14.85

[541909 rows x 9 columns]