<a href="https://colab.research.google.com/github/kloud9nyc/data-wrangling/blob/master/DataWraingling_RetailData_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("/content/drive/My Drive/DataWrangling/onlineretail/OnlineRetail.csv",encoding = "ISO-8859-1")

In [6]:
data.Quantity.describe()

count    541909.000000
mean          9.552250
std         218.081158
min      -80995.000000
25%           1.000000
50%           3.000000
75%          10.000000
max       80995.000000
Name: Quantity, dtype: float64

In [8]:
data.UnitPrice.min()

-11062.06

In [9]:
data.UnitPrice.max()

38970.0

In [10]:
data.UnitPrice.sum()

2498803.974

In [11]:
data.UnitPrice.cumsum()

0         2.550000e+00
1         5.940000e+00
2         8.690000e+00
3         1.208000e+01
4         1.547000e+01
              ...
541904    2.498789e+06
541905    2.498791e+06
541906    2.498795e+06
541907    2.498799e+06
541908    2.498804e+06
Name: UnitPrice, Length: 541909, dtype: float64

In [12]:
data.UnitPrice.count()

541909

In [13]:
data.UnitPrice.nunique()

1630

In [14]:
data.UnitPrice.isnull()

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Name: UnitPrice, Length: 541909, dtype: bool

In [15]:
data.UnitPrice.nsmallest()

299983   -11062.06
299984   -11062.06
622           0.00
1970          0.00
1971          0.00
Name: UnitPrice, dtype: float64

In [16]:
data.UnitPrice.nlargest()

222681    38970.00
524602    17836.46
43702     16888.02
43703     16453.71
15016     13541.33
Name: UnitPrice, dtype: float64

In [0]:
dataAsc= data.UnitPrice.sort_index(ascending=False)

In [24]:
type(dataAsc)

pandas.core.series.Series

In [40]:
data[data['UnitPrice']==4.95].iloc[:,:-1].sort_values('Quantity').sort_values('Description')

       InvoiceNo StockCode  ... UnitPrice  CustomerID
490476    578057     23411  ...      4.95     12920.0
348127    567378     23411  ...      4.95     14911.0
347651    567327     23411  ...      4.95     13102.0
350268    567622     23411  ...      4.95     14527.0
428675    573496     23411  ...      4.95     17841.0
...          ...       ...  ...       ...         ...
84120     543370     22912  ...      4.95     12359.0
484144    577522     22912  ...      4.95     15988.0
73398     542345     22912  ...      4.95     15910.0
507141    579167     22912  ...      4.95     16800.0
193954    553546     22928  ...      4.95     12415.0

[19040 rows x 7 columns]

In [0]:
NullValues = pd.isnull(data["Description"])

In [66]:
data[NullValues]

       InvoiceNo StockCode Description  ...  UnitPrice CustomerID         Country
622       536414     22139         NaN  ...        0.0        NaN  United Kingdom
1970      536545     21134         NaN  ...        0.0        NaN  United Kingdom
1971      536546     22145         NaN  ...        0.0        NaN  United Kingdom
1972      536547     37509         NaN  ...        0.0        NaN  United Kingdom
1987      536549    85226A         NaN  ...        0.0        NaN  United Kingdom
...          ...       ...         ...  ...        ...        ...             ...
535322    581199     84581         NaN  ...        0.0        NaN  United Kingdom
535326    581203     23406         NaN  ...        0.0        NaN  United Kingdom
535332    581209     21620         NaN  ...        0.0        NaN  United Kingdom
536981    581234     72817         NaN  ...        0.0        NaN  United Kingdom
538554    581408     85175         NaN  ...        0.0        NaN  United Kingdom

[1454 rows x 8 columns]

In [68]:
data.loc[622]

InvoiceNo               536414
StockCode                22139
Description                NaN
Quantity                    56
InvoiceDate    12/1/2010 11:52
UnitPrice                    0
CustomerID                 NaN
Country         United Kingdom
Name: 622, dtype: object

In [78]:
data[data['Description'].notnull() & (data['StockCode'] == '85175')]

       InvoiceNo StockCode  ... CustomerID         Country
3278      536617     85175  ...    13941.0  United Kingdom
4881     C536815     85175  ...    14443.0  United Kingdom
7239      537023     85175  ...    16725.0  United Kingdom
7439     C537039     85175  ...    15708.0  United Kingdom
7729      537051     85175  ...    15708.0  United Kingdom
...          ...       ...  ...        ...             ...
502057    578833     85175  ...        NaN  United Kingdom
504398    578949     85175  ...    14954.0  United Kingdom
505056    578999     85175  ...    17595.0  United Kingdom
505778    579098     85175  ...    14606.0  United Kingdom
520136   C580263     85175  ...    12536.0          France

[153 rows x 8 columns]

In [77]:
data[data['StockCode'] == '85175']

       InvoiceNo StockCode  ... CustomerID         Country
3278      536617     85175  ...    13941.0  United Kingdom
4881     C536815     85175  ...    14443.0  United Kingdom
7239      537023     85175  ...    16725.0  United Kingdom
7439     C537039     85175  ...    15708.0  United Kingdom
7729      537051     85175  ...    15708.0  United Kingdom
...          ...       ...  ...        ...             ...
504398    578949     85175  ...    14954.0  United Kingdom
505056    578999     85175  ...    17595.0  United Kingdom
505778    579098     85175  ...    14606.0  United Kingdom
520136   C580263     85175  ...    12536.0          France
538554    581408     85175  ...        NaN  United Kingdom

[154 rows x 8 columns]